.pagination_bar {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    #pag-cover {
        display: flex;
        justify-content: center;
        height: 50px;
        min-width: 200px;
        color: #fff;
        line-height: 1;
        background-color: rgb(45, 45, 45);
        border-radius: 4px;
        user-select: none;
    }
    .page-numbers {
        display: flex;
        align-items: center;
        width: 50px;
        justify-content: center;
        cursor: pointer;
    }
    
    .current {
        background-color: rgb(220, 53, 69);
    }
    a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        &:hover {
            background-color: rgb(228, 103, 116);
        }
    }
}